<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            MAEs Activos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Baja para actualizar"
                refreshingSpinner="circles"
                refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngFor="let carrera of carreras">
        <app-section-title  [name]="carrera"></app-section-title>
        <div *ngFor="let mae of maes" (click)="utils.goto('/mae/' + mae.id + '/' + mae.nombre + ' ' + mae.apellido)">
            <p *ngIf="mae.carrera == carrera" >{{mae.nombre}} {{mae.apellido}}</p>
            <small *ngIf="mae.carrera == carrera" >Llegó a las {{mae.inicio | date:'hh:mm a'}}</small>
        </div>
    </div>
</ion-content>

