h2 {
  font-size: x-large;
  color: var(--ion-color-secondary);
}

h5 {
  margin-left: 1em;
  color: var(--ion-color-dark);
}

p {
  margin-left: 1em;
  margin-top: 0;
}

#grey-text {
  color: var(--ion-color-medium-tint);
}
