<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button color="secondary" routerLink="perfil">Perfil</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large" color="primary">Inicio</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="ion-padding">
        <app-events></app-events>
        <app-enterate></app-enterate>
    </div>
</ion-content>
